{% load static %}

<div class="container-fluid header-logo">
    <div class="row">
        <div class="col-lg-4 col-8">
            <a class="navbar-brand" href="{% url 'base:index' %}">
                <img src="{% static 'base/images/logo_umecari.png' %}" class="top-logo">
            </a>
        </div>
        <div class="col-4 col-lg-8 loginout">
            {% if user.is_authenticated %}
            <a href="{% url 'base:logout' %}">ログアウト</a>
            {% else %}
            <a href="{% url 'base:login' %}">ログイン</a>
            {% endif %}
        </div>
    </div>
</div>
<div class="container-fluid menu">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-4 col-lg-2">
            <a href="{% url 'base:index' %}">
                <div class="menu-btn">
                    ホーム
                </div>
            </a>
        </div>
        <div class="col-4 col-lg-2">
            <a class="" href="{% url 'base:profile-list' %}">
                <div class="menu-btn">
                    ウメカリメンバー
                </div>
            </a>
        </div>
        <div class="col-4 col-lg-2">
            <a class="" href="{% url 'base:nippou-list' %}">
            <div class="menu-btn">
                みんなの投稿
            </div>
            </a>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>