@import url('./output.css');
@import url('./croppie.css');
@import url('./profile-list.css');
@import url('./nippou-list.css');
@import url('./navigation.css');
@import url('./index.css');


body {
    font-family: 'ピラギノ角ゴ';
    background-color: #e2cfb5;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}