.icon {
    width:100px;
	height:100px;
	object-fit:cover;
	border-radius:50%;
}

.link-box {
    text-align: center;
}

.link-box .link-select {
    width: 100%;
    padding: 50px 0px 50px 0px;
}

.menu-btn {
    text-align: center;
    font-size: 13px;
    padding: 15px 0px 15px 0px;
    color:#6b3a18;
}

.menu-btn:hover{
    background-color: #c0af98;
}

.visionboard{
    max-width: 100%;
    height: auto;
}

.select-btn-y {
    border: 1px solid #f0e68c;
}

.select-btn-g {
    border: 1px solid #ff8c00;
}

.select-btn-r {
    border: 1px solid #ffa07a;
}

.select-btn-b {
    border: 1px solid #ffc0cb;
}

#progressOfTarget {
    margin: 0 auto 30px auto;
    width: 100%;
    height: 8px;
    position: relative;
    text-align: center;
}

.main-content {
    background-color: #846841;
    color: white;
}

.sub-content {
    background-color: #e0c49e;
}

.a-btn {
    padding: 4px 8px;
    border-radius: 5px;
    background-color: #D5EAD9;
    color: black;
}

.link-box img {
    width: 100%;
    height: auto;
}
