.header-logo {
    padding: 10px 0px;
    background-color: white;
}

.loginout a{
    display: inline;
    top: 20px;
    vertical-align: middle;
    color: rgb(151, 151, 151);
    font-size: 12px;
}

.loginout {
    text-align: right;
    padding-right: 5%;
}

.top-logo {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding-left: 5%;
}