.switch-btn-container {
    margin: 0 auto 40px auto;
    width: max-content;
}

.switch-btn {
    width: 150px;
    float: left;
    padding: 0 10px 0 10px;
    margin-bottom: 20px;
    text-align: center;
}

#nippou-btn {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: 1px solid black;
    background-color: aliceblue;
}

#output-btn {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid black;
    border-left: hidden;
    background-color: aliceblue;
}

.nippou-list {
    position: absolute;
    padding: 20px;
    left: 0;
    right: 0;
    margin: auto;
}